<%= form_with(model: klass, local: true) do |form| %>
<% if klass.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(klass.errors.count, "error") %> prohibited this klass from being saved:</h2>

  <ul>
    <% klass.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label :credit %>
  <%= form.number_field :credit %>
</div>

<div class="field">
  <%= form.label :student_id, "Estudiante" %>
  <!-- <%= form.text_field :student_id %> -->
  <%= form.select :student_id, Student.all.collect {|e| [e.name, e.id]}, { :include_blank => "Seleccione" }, { :class => "form-control" } %>
</div>

<div class="field">
  <%= form.label :tutor_id, "Tutor" %>
  <!-- <%= form.text_field :tutor_id %> -->
  <%= form.select :tutor_id, Tutor.all.collect {|e| [e.name, e.id]}, { :include_blank => "Seleccione" }, { :class => "form-control" } %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>