<!-- <ul>
    <li style="display: inline;">
        <%= link_to 'Home', root_path %>
    </li>
    <li style="display: inline;">
        <%= link_to 'Aboute US', about_path %>
    </li>
    <li style="display: inline;">
        <%= link_to 'Services', servicios_path %>
    </li>
    <li style="display: inline;">
        <%= link_to 'FAQ', faq_path %>
    </li>
</ul> -->

<ul class="nav justify-content-center">
    <li class="nav-item">
        <%= link_to 'Home', root_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
        <%= link_to 'Aboute US', about_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to 'Services', servicios_path,  class: "nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to 'FAQ', faq_path, :class => "nav-link"%>
        <%# <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> %>
    </li>
    <li class="nav-item">
        <%= link_to 'Contact US', contact_path,  class: "nav-link" %>
    </li>

    <li class="nav-item">
        <%= link_to 'Listar alumnos', alumnos_path,  class: "nav-link" %>
    </li>
</ul>
