<h2>Artículo</h2>
<p>
  <strong>Titulo:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @post.text %>
</p>


<h2>Lista de Comentarios</h2>
<%= render @post.comments %>


<h2>Agregar comentarios:</h2>
<%= render "comments/form" %>

<%= link_to 'Retroceder', :action => :index %>
<%= link_to 'Edit', :action => :edit, :id => @post.id %>